@font-face {
  font-family: jua;
  src: url(/font/Jua-Regular.ttf);
}

body {
  font-family: jua;
}

div.container div.col-sm-4:nth-child(2), div.container div.col-sm-4:nth-child(3) {
  visibility: hidden;
}

li.webtoon_title_item {
  cursor:pointer;
}

li.webtoon_title_item:hover {
  background:darkgray;
}

li.webtoon_index_item {
  cursor:pointer;
}

li.webtoon_index_item:hover {
  background:darkgray;
}